---
import LinkedInLogo from './assets/linkedin.svg';
import InstagramLogo from './assets/instagram.svg';
import WhastAppLogo from './assets/whatsapp.svg';
---
<footer class="bg-primary-500 pt-12 pb-12">
  <div class="max-w-6xl mx-auto flex justify-between items-center">
    <div class="text-white">
      <img src="/logo-footer.webp" width="150" />
    </div>
    <nav class="flex gap-4">
      <a href="/" class="text-white">
        <LinkedInLogo size={24} fill="white" />
      </a>
      <a href="https://www.instagram.com/vanguardiadesarrollosinmob/" target="_blank" rel="noopener noreferer" class="text-white">

        <InstagramLogo size={24} fill="white" />
      </a>
    </nav>
  </div>
</footer>

<a href="https://wa.me/5492494285894" target="_blank" rel="noopener noreferer" class="fixed bottom-24 right-24">
  <WhastAppLogo size={70} />
</a>