<section class="py-12">
  <h2 class="font-heading text-2xl sm:text-5xl text-primary-500 text-center mb-8 uppercase">Obras y proyectos</h2>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-y-12 gap-x-8 justify-center items-center max-w-7xl mx-auto">
    <a href="#" class="h-[330px] overflow-hidden">
      <h3 class="font-subheading text-xl sm:text-2xl text-center mb-2 sm:mb-4">Obra 1</h3>
      <img src="/projects/1.jpg" class="object-cover object-bottom" />
    </a>
    <a href="#" class="h-[330px] overflow-hidden">
      <h3 class="font-subheading text-xl sm:text-2xl text-center mb-2 sm:mb-4">Obra 2</h3>
      <img src="/projects/2.jpg" />
    </a>
    <a href="#" class="h-[330px] overflow-hidden">
      <h3 class="font-subheading text-xl sm:text-2xl text-center mb-2 sm:mb-4">Obra 3</h3>
      <img src="/projects/3.jpg" />
    </a>
  </div>
</section>