---
import ServiceItem from "./ServiceItem.astro";
---
<section class="bg-primary-500 py-12">
  <h2 class="font-heading text-2xl sm:text-5xl text-white text-center mb-8 uppercase">Servicios</h2>
  <div class="flex flex-col sm:flex-row px-8 sm:px-0 justify-between max-w-7xl gap-y-8 sm:gap-x-4 mx-auto">
      <ServiceItem url="#" title="Desarrollos inmobiliarios" image="/services/1.jpg" />
      <ServiceItem url="#" title="Diseño de proyectos" image="/services/1.jpg" />
      <ServiceItem url="#" title="Dirección y gerenciamiento" image="/services/1.jpg" />
      <ServiceItem url="#" title="Llave en mano" image="/services/1.jpg" />
      <ServiceItem url="#" title="Refacciones" image="/services/1.jpg" />
  </div>
</section>