<section class="w-full relative overflow-hidden h-[700px]">
  <div class="absolute inset-0 bg-black bg-opacity-30 z-10 flex flex-col gap-4 justify-center items-center">
    <h1 class="text-4xl text-white font-bold uppercase font-heading">Hagamos realidad tu proyecto</h1>
    <h2 class="text-white font-subheading">CONSTRUÍMOS CON LOS MÁS ALTOS ESTÁNDARES DE CALIDAD</h2>
  </div>
  <video class="w-full aspect-video" autoplay loop muted>
    <source src="/video.mp4" type="video/mp4" />
  </video>
</section>