<section class="w-full relative overflow-hidden h-[600px] sm:h-[700px]">
  <div class="absolute inset-0 bg-black bg-opacity-30 z-10 flex flex-col gap-4 justify-center items-center">
    <h1 class="mx-4 text-center sm:mx-0 sm:text-left text-4xl text-white font-bold uppercase font-heading">Hagamos realidad tu proyecto</h1>
    <h2 class="mx-4 text-center sm:mx-0 sm:text-left text-white font-subheading">CONSTRUÍMOS CON LOS MÁS ALTOS ESTÁNDARES DE CALIDAD</h2>
  </div>
  <video class="max-w-none sm:w-full sm:aspect-video" autoplay loop muted>
    <source src="/video.mp4" type="video/mp4" />
  </video>
</section>